body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 50px;
  background-color: black;
  color: white;
}

/* #outer-nav {
  display: contain;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

#inner-nav {
  background-color: gray;
  padding: 2px;
  padding-right: 30px;
} */

.projects-div {
  padding: 100px;
}

.contact-div {
  padding: 100px;
}

.about-div {
  padding: 100px;
}